<!-- <div class="container mt-4">
    <div class="clearfix"></div>
        <div>   
<table>
    <thead>
      <tr>
       <th>Id</th>
       <th>Name</th>
       <th>Email</th>
       <th>Is Employee</th>
     </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts">
        <td>{{ account.id }} </td>
        <td>{{ account.name }} </td>
        <td>{{ account.email }} </td>
        <td>{{ account.isEmployee ? 'Yes' : 'No'}} </td>
        <td class="text-right">
            <button class="btn btn-sm btn-danger">
              X
            </button>
          </td>
      </tr>
    </tbody>
  </table>
</div>
</div> -->